:root{
--darkbg: rgb(22, 44, 58);
--accentlight: rgb(219, 169, 136);
--accentdark: rgb(217, 124, 80)
}

/*Styles for Index.html */

body{
    background-color:var(--darkbg);
}
.hide{
    display: none !important;
}
#app-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: xx-large;
}
#my-list-link{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: large;
}
#country-search, #activityDescription, #countryDescription{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
#activityDescription, #countryDescription{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
#countryName, #countryDescription{
    color: var(--accentlight);
}
#search{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#jumbotron .display-4, #countryName, #staticBackdropLabel{

    font-family: 'Yeseva One', serif;
}
#jumbotron{
    color: white;
}

nav{
    background-color: var(--accentlight);

}
.fa-solid{
 color: var(--accentdark);   
}
#search, #activitiesBtn{
    background-color: var(--accentdark);
    color: white;
}
#previous{
    background-color: rgb(41, 107, 147);
    color: white; 
}
#next{
   background-color: rgb(22, 44, 58) ;
   color: white;
}
footer{
    color: var(--accentlight);
}

.modal-content{
    background-color: var(--accentlight);

}
#activityDescription{
    color: rgb(22, 44, 58);
}

#myFavorites{
    align-items: center;
}
.fa-solid:hover{
    color: rgb(246, 142, 44);
    box-shadow: 0 0 5px rgb(246, 142, 44);
    text-shadow: 0 0 5px rgb(246, 142, 44);
  }

  .navbar-brand img {
    transform: scale(1.8); /* Adjust the scale factor as needed */
    margin-left: 25%;
    margin-top: -20%;
    margin-bottom: -20%;
    padding-right: 25%;
  }

  #country-search{
    width: 20vw;
  }

  /* Styles for mylist */
