:root{
--darkbg: rgb(22, 44, 58);
--accentlight: rgb(219, 169, 136);
--accentdark: rgb(217, 124, 80)
}

/*Styles for Index.html */

body{
    background-color:var(--darkbg);
}
.hide{
    display: none !important;
}
#app-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: xx-large;
}
#my-list-link{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: large;
}
#country-search, #activityDescription, #countryDescription{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
#activityDescription, #countryDescription{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
#countryName, #countryDescription{
    color: var(--accentlight);
}


#jumbotron .display-4, #countryName, #staticBackdropLabel{

    font-family: 'Yeseva One', serif;
}
#jumbotron{
    color: white;
}

nav{
    background-color: var(--accentlight);

}
.fa-solid{
 color: var(--accentdark);   
}
#search, #activitiesBtn{
    background-color: var(--accentdark);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#previous{
    background-color: rgb(41, 107, 147);
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
#next{
   background-color: rgb(22, 44, 58) ;
   color: white;
   font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
footer{
    color: var(--accentlight);
}

.modal-content{
    background-color: var(--accentlight);

}
#activityDescription{
    color: rgb(22, 44, 58);
}

#myFavorites{
    align-items: center;
}
.fa-solid:hover{
    color: rgb(246, 142, 44);
    box-shadow: 0 0 5px rgb(246, 142, 44);
    text-shadow: 0 0 5px rgb(246, 142, 44);
  }

  .navbar-brand img {
    transform: scale(1.8); /* Adjust the scale factor as needed */
    margin-left: 25%;
    margin-top: -20%;
    margin-bottom: -20%;
    padding-right: 25%;
  }

  #country-search{
    width: 20vw;
  }

  /* Styles for mylist */
 .card-body{
    background-color: var(--accentlight);
    color: var(--darkbg);
 }

 .card-title{
    font-family: 'Yeseva One', serif;
 }

 #view-saved{
    background-color: rgb(41, 107, 147);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
 }

  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-4">
      <img src="https://placehold.co/400x300" class="img-fluid rounded-start" alt="county image">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="index.html" class="btn btn-primar ,vmnn cn
        y">Get info</a>
      </div>
    </div>
  </div>
</div>
